{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur Vroum - VROUM</h1>
            <p class="lead">Ici nous reprenons des voitures, passablement en bonne état et nous vous les revendons plus cher que ce qu'elles ne valent</p>
            <hr class="my-4">
            <p>Vous désirez acheter une voiture? Pas de soucis, vous n'avez qu'à poursuivre la visite du site. Ici c'est la qualité qui prime </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{path('ads_index') }}" role="button">Voir nos annonces</a>
            </p>
        </div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/uploads/impala.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/uploads/jaguar.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/uploads/ferrari.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
        
{% endblock %}
